body {
    display:flex;
    flex-direction: column;
    font-family: roboto;

}
/*header section */

.hero, header, footer {
    background-color: #1f2937;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
}
ul, .header-nav {
    list-style: none;
    display:flex;
    align-items: center;
    gap: 12px;
    
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    
}

/*end of header section */
/*Hero section */

.hero {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}



.hero-left{
    font-size: 18px;
    color: #E5E7EB;
    width: 300px;
    margin-left: 30px;
}
.hero-left > h1{
    font-size: 48px;
    font-weight:bolder;
}

.hero-left > h1, .hero-left > p{
    margin: 0;
}
button {
    background-color:#3882f6;
    color:white;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0px;
    padding: 5px 20px;
    margin-top: 5px;

}

.hero-right {
width: 300px;
margin-right: 30px;
}

.hero-right > img {
    width: 100%;
  }
  
/*end of hero section*/

/*landing page*/

.landing {
    display:flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
}

.landing > h2 {
    align-items: center;
}

.boxes-container {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 3px solid #3882f6; 
    border-radius: 5px; 
    flex: 0 1 20%;
}
.boxes-container > img {
  width: 200px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  background-color: #f0f0f0; /* Optional: Set a background color */
}

/*end of landing page*/

.testimonial {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote-name {
    font-size: 14px;
    font-weight: bold;
}

.call-to-action {
display:flex;
justify-content: center;
}
.cta-box {
    background-color: #3882f6;
    color:white;
}



